{% extends "base.html" %}

{% block title %} Karate shotokan {% endblock %}
{% block header %} Wybierz turniej {% endblock %}
{% block content %}

Wszystkie aktualnie rozgrywane turnieje karate shotokan:


<div class="container-fluid">
   <ul class="nav navbar-nav">
   		<li>
			<a href="{% url 'KarateShotokanCreate' %}">Nowy turniej</a>
		</li>
                
		<li>
			<a href="{% url 'KarateShotokanChoose' %}">Wybierz turniej</a>
		</li>

		<li>
			<a href="{% url 'KarateShotokanLoad' %}">Wczytaj turniej</a>
		</li>

  </ul>
</div>
{% endblock %}
